# Node modules
/node_modules/

# Build output
/build/

# Environment variables file
/.env

# macOS specific files
/.DS_Store

# Locales folder 
/locales/

# Craco configuration file 
craco.config.js

# Lock file
package-lock.json

# Node-related files that shouldn't be tracked
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code settings (if you use VS Code)
.vscode/

# Log files
*.log

# System files (Windows)
Thumbs.db
ehthumbs.db
