:root{
  --black-40: rgba(0, 0, 0, .4);
  --black-60: rgba(0, 0, 0, .6);
  --black-80: rgba(0, 0, 0, .8);
  --black: #000;
  --darker-gray: #484848;
  --dark-gray: #626262;
  --pink: #ffebe4;
  --blue: #e4f9ff;
  --green: #e4ffe4;
  --gray: #e7e7e7;
  --gray-100: #cdcdd3;
  --gray-200: #f9f9fa;
  --g0: #1c2226;
  --g1: #4f5d69;
  --g4: #bcc9d2;
  --g5: #e0e6eb;
  --g6: #ecf0f4;
  --g7: #f8fafd;
  --light-gray: #f2f2f2;
  --lighter-gray: #f9f9f9;
  --super-light-gray: #fbfbfb;
  --white-80: hsla(0, 0%, 100%, .8);
  --white: #fff;
  --accent: #1e5af6;
  --code-family: "IBM Plex Mono", monospace;
  --font-family: "DM Sans", sans-serif;
}

.loading-spinner{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  position: absolute;
  z-index: 5;
  left: 40vw;
  width: 300px;
  height: 300px;
}

.chatroom-container{
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: white;
  justify-content: center;
}

.chatroom-header{
  display: flex;
  width: 100vw;
  height: 12%;
}

.chatroom-logo{
  position: relative;
  display: flex;
  width: 100px;
  height: 100px;
  left: 15px;
  object-fit: contain;
  align-items: center;
}

.chatroom-title{
  display: flex;
  position: relative;
  left: 35%;
  gap: 10px;
  align-items: center;
}

.chatroom-remote-screen{
  display: flex;
  position: absolute;
  background-color: var(--g5);
  top: 10%;
  width: 70%;
  height: 80%;
  border-radius: 15px;
}

.next-btn{
  display: flex;
  position: relative;
  left: 60vw;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.chatroom-local-screen{
  display: flex;
  position: absolute;
  background-color: var(--g4);
  top: 65%;
  width: 18%;
  height: 20%;
  right: 50px;
  border-radius: 15px;
  z-index: 1;
}

button{
  cursor: pointer;
}

.chatroom-controls{
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 10%;
  justify-content: center;
}

.video-toggle-btn,.mic-toggle-btn,.leave-btn,.report-btn{
  align-self: center;
  position: relative;
  bottom: 10px;
  padding: 20px;
}

.video,.mic,.exit,.next,.report{
  width: 25px;
  height: 25px;
  object-fit: contain;
  transition: all 0.3s ease;
}

.local-video{
  z-index: 3;
}