:root{
  --black-40: rgba(0, 0, 0, .4);
  --black-60: rgba(0, 0, 0, .6);
  --black-80: rgba(0, 0, 0, .8);
  --black: #000;
  --darker-gray: #484848;
  --dark-gray: #626262;
  --pink: #ffebe4;
  --blue: #e4f9ff;
  --green: #e4ffe4;
  --gray: #e7e7e7;
  --gray-100: #cdcdd3;
  --gray-200: #f9f9fa;
  --g0: #1c2226;
  --g1: #4f5d69;
  --g4: #bcc9d2;
  --g5: #e0e6eb;
  --g6: #ecf0f4;
  --g7: #f8fafd;
  --light-gray: #f2f2f2;
  --lighter-gray: #f9f9f9;
  --super-light-gray: #fbfbfb;
  --white-80: hsla(0, 0%, 100%, .8);
  --white: #fff;
  --accent: #1e5af6;
  --code-family: "IBM Plex Mono", monospace;
  --font-family: "DM Sans", sans-serif;
}

.logo-container{
  display: flex;
  align-items: center;
}

.logo {
  width: 100px; /* Set width */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove space below image */
  margin: 0 auto; /* Center the image */
}


.homepage-container {
  display: flex;
  flex-direction: column; /* Ensure vertical stacking of elements if needed */
  height: 400vh;
  width: 100%;
  overflow: scroll;
  background-color: white;
}

.scrollable {
  width: 300px;
  height: 150px;
  overflow: scroll; /* Adds a scrollbar when content overflows */
  border: 1px solid #ccc;
  padding: 10px;
}

.header {
  display: flex; /* Row layout */
  flex-direction: row; /* Optional, as `row` is the default for `display: flex` */
  align-items: center; /* Vertically center items in the row */
  justify-content: space-between; /* Space out the items evenly */
  width: 100%;
  height: 10vh;
  padding: 50px 50px; 
  background-color: white; 
  z-index: 1;
  font-family: var(--font-family);
  letter-spacing: 0.2em;
}

.navigation-bar{
  display: flex;
  position: relative;
  left: 5%;
  width: 60vb;
  justify-content: space-between;
  align-items: stretch;
  cursor: pointer;
  border-radius: 50%;
}

.login,.about,.contact,.star-github{
  padding: 20px;
  border-radius: 15px;
  transition: all 0.3s ease;
}
.login:hover, .about:hover, .contact:hover,.github:hover{
  background-color: var(--g5);
}

.hero{
  display: flex;
  position: relative;
  top: 5%;
  align-self: center;
}

.main{
  justify-self: center;
  font-size: 90px;
  padding: 0px 20px;
  letter-spacing: -0.045em;
  -webkit-text-stroke: 2.5px;
  transition: all 0.3s ease;
}

.main:hover{
  transform: scale(1.1);
}

.sub{
  display: flex;
  text-align: center;
  width: 60vb;
  font-size: 50px;
  flex-direction: column;
  color: var(--g4);
  max-width: 1140px;
  transition: all 0.3s ease;
}

.sub:hover{
  transform: scale(1.1);
}


.github {
  position: relative;
  border-radius: 10px;
  display: flex;
  align-items: center; /* Center content within the box */
  justify-content: center; /* Center content horizontally */
  cursor: pointer;
  transition: 0.3s;
}

.emoticon-container{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index:0;
  padding: 200px;
  align-content: center;
}

.emoticons{
  object-fit: contain;
  width: 100%;
  height: 10vh;
  z-index: inherit;
  transition: transform 0.1s ease-out;
}

.messages{
  position: absolute;
  object-fit: contain;
}

.lol{
  position: absolute;
  right: 60px; 
  object-fit: contain;
}

.happy{
  position: absolute;
  bottom: 215px;
  left: 20%; 
  object-fit: contain;
}

.cool{
  position: absolute;
  bottom: 210px;
  left: 60%; 
  object-fit: contain;
}

.language-container{
  display: flex;
  position: relative;
  justify-content: center;
  top: 10%;
  width: 100%;
}

.languages{
  display: flex;
  align-items: center;
  gap:50px;
  font-family: var(--font-family);

}

