:root{
  --black-40: rgba(0, 0, 0, .4);
  --black-60: rgba(0, 0, 0, .6);
  --black-80: rgba(0, 0, 0, .8);
  --black: #000;
  --darker-gray: #484848;
  --dark-gray: #626262;
  --pink: #ffebe4;
  --blue: #e4f9ff;
  --green: #e4ffe4;
  --gray: #e7e7e7;
  --gray-100: #cdcdd3;
  --gray-200: #f9f9fa;
  --g0: #1c2226;
  --g1: #4f5d69;
  --g4: #bcc9d2;
  --g5: #e0e6eb;
  --g6: #ecf0f4;
  --g7: #f8fafd;
  --light-gray: #f2f2f2;
  --lighter-gray: #f9f9f9;
  --super-light-gray: #fbfbfb;
  --white-80: hsla(0, 0%, 100%, .8);
  --white: #fff;
  --accent: #1e5af6;
  --code-family: "IBM Plex Mono", monospace;
  --font-family: "DM Sans", sans-serif;
}

.lobbyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--g5);
  padding: 0 20px;
  font-family: var(--font-family);
}

.lobbyMainScreenOff {
  display: flex;
  width: 95vw;
  height: 95vh;
  max-width: 1200px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgb(0 0 0 / 50%);
  overflow: hidden;
  padding: 20px;
}

.lobbySidebar {
  width: 300px;
  background: var(--g7);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.lobbyLogo {
  width: 150px;
  height: auto;
}

.lobbySettings {
  width: 100%;
  margin-top: 20px;
}

.lobbySettingsIcon {
  width: 30px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.lobbySettingsIcon:hover {
  transform: rotate(360deg);
}

.lobbySignOutButton {
  position: relative;
  top:20px;
  color: black;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.lobbySignOutButton:hover {
  background-color: var(--g4);
}

.lobbyMain {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.lobbyHeaderSecondary {
  display: flex;
  position: relative;
  justify-content: center;
  margin-bottom: 30px;
}

.lobbyLobbyText {
  font-size: 2rem;
  color: var(--g1);
}

.lobbyVideoStream {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.lobbyJoinButton {
  background-color: var(--white);
  position: relative;
  top: 50px;
  color: black;
  padding: 15px 30px;
  border: 2px solid black;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.lobbyJoinButton:hover {
  background-color: black;
  color: var(--white);
}

.lobbyFrameInner {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.lobbyNoVideoText {
  justify-self: center;
  text-align: center;
  font-family: var(--font-family);
  font-size: 50px;
  padding: 0px 20px;
  letter-spacing: 0.045em;
  -webkit-text-stroke: 2.5px;
  transition: all 0.3s ease;
}

.lobbyNoVideoText:hover{
  transform: scale(1.1);
}

.lobbyProfileImage img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.lobbyProfileImage:hover img {
  transform: scale(1.1);
}

.lobbyControls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.lobbyContent{
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  top: 10%;
}

.lobbyMiddle,
.lobbyWrapper {
  width: 100%;
  height: 5px;
  background-color: var(--g6);
}
