.lobbyContainer {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.lobbyMainScreenOff {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}

.lobbySidebar {
  gap: 20px;
  height: 1024px;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}

.lobbyHeader {
  gap: 10px;
  display: flex;
  padding: 20px 25px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.lobbyLogo {
  width: 90px;
  height: 101px;
}

.lobbyTitle {
  color: rgba(15, 88, 100, 1);
  width: 100px;
  height: auto;
  font-size: 40px;
  font-style: Regular;
  text-align: center;
  font-family: Jolly Lodger;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.lobbySettings {
  gap: 10px;
  width: 300px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  cursor: pointer;
}

.lobbyMenuItem {
  gap: 10px;
  display: flex;
  padding: 15px 0 20px 25px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}

.lobbySettingsIcon {
  width: 24px;
  height: 24px;
}

.lobbySignOutButton {
  color: rgba(50, 70, 78, 1);
  height: auto;
  text-align: left;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
}

.lobbyMain {
  display: flex;
  z-index: 1;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}

.lobbyHeaderSecondary {
  gap: 10px;
  display: flex;
  padding: 20px 30px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(249, 249, 249, 1);
  border-style: solid;
  border-width: 0 0 1px;
}

.lobbyLeft {
  gap: 10px;
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
}

.lobbyLobbyText {
  color: rgba(0, 122, 255, 1);
  height: auto;
  font-size: 28px;
  font-style: SemiBold;
  text-align: left;
  font-family: Jost;
  font-weight: 600;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}

.lobbyDuration {
  gap: 10px;
  display: flex;
  opacity: 0.60;
  padding: 0 0 5px;
  align-items: flex-end;
}

.lobbyRight {
  gap: 10px;
  display: flex;
  align-items: center;
}

.lobbyContent {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
}

.lobbyVideoStream {
  gap: 20px;
  display: flex;
  padding: 30px;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}

.lobbyFrame {
  width: 1004px;
  height: 268px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}

.lobbyFrameInner {
  gap: 10px;
  top: 74px;
  left: 68px;
  width: 883px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.lobbyNoVideoText {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 36px;
  font-style: Bold;
  text-align: center;
  font-family: Mplus 1p Bold;
  font-weight: 700;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}

.lobbyJoinButton {
  display: contents;
  cursor: pointer;
}

.lobbyMessage {
  gap: 10px;
  width: 397px;
  height: 94px;
  display: flex;
  padding: 10px 15px;
  z-index: 1;
  overflow: hidden;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50px;
  text-decoration: none;
  background-color: rgba(0, 122, 255, 1);
}

.lobbyJoinText {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 36px;
  font-style: Bold;
  text-align: center;
  font-family: Mplus 1p Bold;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}

.lobbyControls {
  gap: 20px;
  width: 802px;
  display: flex;
  z-index: 2;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}

.lobbyMiddle {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lobbyWrapper {
  gap: 10px;
  display: flex;
  padding: 0 0 0 30px;
  z-index: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.lobbyProfileLink {
  gap: 10px;
  width: 117px;
  height: 110px;
  display: flex;
  z-index: 2;
  align-items: center;
  flex-shrink: 0;
}

.lobbyProfileImage {
  width: 100px;
  height: 100px;
  text-decoration: none;
}
